[run]
source_pkgs = commlib
omit =
  tests/*
  commlib/transports/mqtt.py
  commlib/transports/amqp.py
  commlib/transports/redis.py
  commlib/transports/kafka.py

dynamic_context = test_function
branch = true

[report]
fail_under = 10
precision = 2
show_missing = true
skip_empty = true

[html]
directory = coverage_html_report
show_contexts = true

[xml]
output = coverage.xml
