[run]
source_pkgs = commlib
omit =
        commlib/transports/mqtt/*
        commlib/transports/amqp/*
        commlib/transports/redis/*

dynamic_context = test_function
branch = true

[report]
fail_under = 70
precision = 2
skip_empty = true

[html]
directory = coverage_html_report
show_contexts = true

[xml]
output = coverage.xml
