[tool.poetry]
name = "commlib-py"
version = "0.10.1"
description = "Internal  DSL for communication and messaging in CPS"
authors = ["Konstantinos Panayiotou <klpanagi@gmail.com>"]
readme = "README.md"
packages = [{include = "commlib"}]

[tool.poetry.dependencies]
python = "^3.8"
pika = "1.3.1"
paho-mqtt = "1.6.1"
hiredis = "2.1.1"
ujson = "5.7.0"
pydantic = "1.10.4"

[tool.poetry.group.dev.dependencies]
bump2version = "0.5.11"
wheel = "0.38.4"
flake8 = "3.7.8"
coverage = "7.0.1"
twine = "1.14.0"
pip = ">=21.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
