name: Release
on:
  release:
    types:
      - created

jobs:
  publish:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build twine
      - name: Build package
        run: |
          make build
      - name: Check distribution
        run: |
          make check-dist
      - name: Publish to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_COMMLIB_TOKEN }}
        run: |
          python -m twine upload dist/* -u __token__ -p $PYPI_TOKEN
